@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom,#0568A6,#049DBF,#04C4D9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    background-attachment: fixed;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);

}

select#lista {
    width: 150px;
    margin: 20px 10px 5px 5px;
}

input#ajuste {
    margin: 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}